<!DOCTYPE html>
<html>
<head>
    <title>List</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<div class="mainGrid">
    <div class="headerGrid">
        <%- include('partials/header'); -%>
    </div>
    <div class="navGrid">
        <%- include('partials/nav'); -%>
    </div>
    <div class="workstation">

        <ol id="myList">
            <% if (result && result.length > 0) { %>
                <% result.forEach(function(item) { %>
                    <li class="listing">id: <%= item.id %><br>
                        name: <%= item.name %><br>
                        price: <%= item.price%>
                    </li>
                <% }); %>
            <% } else { %>
                <li>No items found</li>
            <% } %>
        </ol>
    </div>
</div>
</body>
</html>
